---
layout: page
title: Categories
---
{% include JB/setup %}

<div class="tags-list">
    <ul class="tags inline">
        <li><i class="icon icon-folder-open"></i></li>
      {% assign categories_list = site.categories %}  
      {% include JB/categories_list %}
  </ul>
  <div class="sep"></div>
</div>


{% for category in site.categories %} 
<h2 class="categories" id="{{ category[0] }}-ref">{{ category[0] }}</h2>
<ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
</ul>
{% endfor %}
