/*//////////////////////////////////////////////////////////////////////////////*/
body, button, input, select, textarea, li {
    color: #222;
    font-family: "Century Schoolbook", Century, "century_custom", Garamond, serif;
    font-size: 20px;
    line-height: 1.5em;
    padding:0;
}

/*//////////////////////////////////////////////////////////////////////////////*/
.sep {
    clear:both;
}

a, a:visited {
    color:blue;
    cursor:pointer;
}

a:hover {
    color:red;
    text-decoration:none;
}

h1 {
    color:#111;
    text-transform: uppercase;
    font-size: 3.2em;
    text-align: center;
    margin: 1.5em 0 0.4em 0;
    line-height: 1em;
    font-weight:bold;
}

h2 {
    font-size:2.3em;
    margin: 0.8em 0 0.4em 0;
    line-height: 1em;
}

h3 {
    font-size:1.7em;
    margin: 0.8em 0 0.4em 0;
    line-height: 1em;
}


p {
    font-size:1em;
    margin-bottom:0.75em;
    margin-top:0.75em;
    text-align:justify;
}

ul {
    margin-bottom:1.3em;
}

li {
    margin-bottom:0.3em;
}

li ul {
    margin-top:0.2em;   
}

.container {
    margin: 0 auto;
    padding:2em 30px 0 30px;
    max-width: 700px; 
}

.clearfix {
    clear:both;
}

hr {
    margin: 30px 0; 
}

table {
    width:100%;
}

thead {
    background-color: #333333;
    color:#fff;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

td, th {
    font-size:0.7em;
    padding:3px 8px;
    text-align: left;
}

th {
    font-size:0.7em;
    line-height: 1.4em;
    padding:8px 8px;
}

blockquote {
    background-color:#eee;
    border-left:5px solid #ddd;
    padding:1px 20px 15px 16px;
    margin-top:30px;
    margin-bottom:30px;
    
}

blockquote p {
    font-size:1em;
    line-height: 1.4em;
}

/*//////////////////////////////////////////////////////////////////////////////*/
.post {

    margin-bottom:3em;
}

.post .header {
    padding-bottom:1em;
    border-bottom:1px solid #bbb;
    margin-bottom:2em;
}

.post-list {
    opacity: 0.85;
    transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
}

.post-list:hover {
    opacity: 1;
}

.post h1 {
    text-align: left;
}

.post-list h1 {
    text-align: left;
}

.post.last {
    margin-bottom:-1.3em;
    border:none;
}

.post h1 {
    margin-top:0.5em;
    margin-bottom:1em;
}

.picture-head {
    margin-bottom:1.5em;
    margin-right:1em;
    width:100%;
    height:100px;
    overflow: hidden;
    position:relative;
}

.post-list .picture-head {

}

.content-content {
    margin-bottom: 2em;
}

.picture-head img, .content-content img {
    margin:1em auto;
    display:block;
    width:100%;
}

.picture-head img {
   position:absolute;
   left: -100%;
   right: -100%;
   top: -100%;
   bottom: -100%;
   margin: auto; 
   min-height: 100%;
   min-width: 100%;
}

.a-with-img img, .picture-head img, .content-content img {
    -webkit-box-shadow: 0px 8px 17px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 8px 17px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 8px 17px 0px rgba(50, 50, 50, 0.35);
}

.a-with-img {
    position: relative;
    display: inline-block;
    z-index:1;
    opacity: 0.9;
    width:100%;
    transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -webkit-transition: .15s ease-in-out;
    margin:1.2em auto;
}

.a-with-img img {
    margin:0em auto;
}

.a-with-img:hover,.a-with-img:focus,.a-with-img:active {
    z-index:1;
    opacity: 1;
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    -ms-transform: scale(1.03);
}

.a-with-img .hover {
    position:absolute;
    display:block;
    background:rgba(0,0,0,0.7);
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0;
    transition: .30s ease-in-out;
    -moz-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
}

.a-with-img:hover .hover {
    opacity: 1;
}

.a-with-img .caption {
    text-transform: capitalize;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.a-with-img .caption img {
    display:block;
    width:40px;
    margin-bottom:10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.post .author {
    text-align: left;
    clear: both;
    color:#333;
    font-style: italic;
    font-size: 0.9em;
    margin-top:-2.4em;
    margin-bottom:1.5em;
}

.post-list .author {
    text-align: left;
}

.icon {
    position:relative;
    top:0px;
    margin-right:4px;
}

.tags {
    clear:both;
}

.tags {
    list-style: none;
    margin: 0em 0 0.5em 0;
}

.tags li {
    font-size:0.65em;
}

.tags li i {
    opacity: 0.9; 
    font-size:0.9em;
}

.tags-list {
    margin-bottom: 2em;
}

.tags {
    text-transform: capitalize;
}


.tags.inline li {
    float: left; 
}

.tags a {

}

.tags a span {
    vertical-align: super;
    font-size: 0.8em; 
}

.tags a:hover {

}

.tags a.active {

}

.pagination {
    margin-top:2em;
    padding-top:4em;
    border-top:1px solid #eee;
    text-align: center;
    font-size:0.5em;
}

.sharing {
    margin-bottom:1em;
    margin-top:1em;
}

.sharing a:hover {
    opacity: 0.7;
}

/*//////////////////////////////////////////////////////////////////////////////*/
header {
  background-image: url(../images/header.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  padding:4em 0;
  width: 100%;
  -webkit-box-shadow: 0px -10px 10px rgba(50, 50, 50, 0.26) inset;
  -moz-box-shadow:    0px -10px 10px rgba(50, 50, 50, 0.26) inset;
  box-shadow:         0px -10px 10px rgba(50, 50, 50, 0.26) inset;
  text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -webkit-transition: .15s ease-in-out;
}

header h1, header h2, header a,header a:visited {
    color: #fff;
    text-transform: capitalize;
}

header a:hover {
    color:#fff;
}

header h1 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin-top:0;
    width:100%;
    overflow:hidden;
    line-height: 0.9em;
    
}

header h2 {
    font-style: italic;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom:1.5em;
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.2em;
}

h2.categories {
    text-transform: capitalize;
}

h2.tags {
    text-transform: capitalize;
}

header span {
    font-size:0.7em;
    vertical-align: super;
}

nav {
    margin: auto;
    display: block;
    margin-bottom:1.5em;
    text-align: center;
    z-index:999;
}

nav sup {
    font-family: arial;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    float: left;
    font-size:14px;
    font-weight: bold;
    position: relative;
    
    margin-bottom:0;
}

nav ul li.active a {
    /*text-decoration: underline;*/
}

nav ul li:first-child {
    background: none;
}

nav ul a {
    display: block;
    text-decoration: none;
    padding: 12px 25px 8px 25px;
}

nav li:hover > a {
    text-decoration: underline;
    /*color: #999;*/
}

nav.sticky {
    position:fixed;
    top:0;
    background-image: url(../images/header.jpg);
    background-position: center top;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 5px 10px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 5px 10px rgba(50, 50, 50, 0.35);
    width:100%;
}

nav.sticky ul {
    margin:0;
}

footer {
    text-align: center;
    border-top:1px solid #eee;
    margin-top:2em;
    padding-top:1em;
    padding-bottom:0.7em;
}

footer p {
    text-align: center;
}

footer ul {
    list-style: none;   
}

footer li {
    margin:0;
    font-size:0.8em;
    color:#666;
}

/*//////////////////////////////////////////////////////////////////////////////*/
.copyClipboard {
    float:left;
}

code {
    white-space:normal;
}

/*//////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 600px) {
    body, button, input, select, textarea, li {
        font-size:13px;
        word-break:break-all;
    }

    header {
        background-size: cover;
        background-attachment: auto;
        background-position: center center;
        overflow:hidden;
        word-break:normal;
    }

    nav ul {
        width:100%;
    }

    nav ul li {
        font-size:12px;
        background: none;
        clear:both;
    }

    header h1 {
        font-size:2.5em;
    }

    nav.sticky {
        display:none;
    }

}